* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /* creating variable for use it in multiple places */
  :root {
    --primary-bg-color: #222222;
    --primary-text-font-color: #ffffffc0;
    --heading-text-font-color: #fff;
    --link-before-hover: #95989e;
    --aqua-color:#08fdd8;
  }
  /* style for whole body */
  body {
    font-family: "poppins", Helvetica, sans-serif;
    color: var(--primary-text-font-color);
    background-color: var(--primary-bg-color);
  }
  /* Navigation header container styles */
  .header{
    margin: 1rem;
  }
  .logoimg {
    width: 2.5rem;
    border-radius: 50%;
    margin-left: 1rem;
  }
  .nav-container {
    display: flex;
    align-items: center;
    background-color: var(--primary-bg-color);
    margin-top: 5px;
  }
  .logotext {
    flex: 1;
    margin-bottom: 3px;
    margin-left: 0.3rem;
    color: var(--heading-text-font-color);
  }
  .nav-links > span {
    margin-right: 2rem;
  }
  .nav-links > span > a {
    text-decoration: none;
    color: #95989e;
  }
  .nav-links > span > a:hover {
    color: #fff;
  }
  /* for hamburger btn through css only */
  .menu-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2rem;
    margin-right: 1rem;
    border-radius: 10%;
  }
  .menu-btn:hover {
    background-color: rgba(212, 188, 188, 0.219);
  }
  .bar {
    width: 30px;
    background-color: var(--heading-text-font-color);
    height: 4px;
    border-radius: 10%;
    margin: 3px 6px;
    transition:.5s ;
  }
  .menu-btn {
    display: none;
  }
  
  /* for mobile responsive nav bar*/
  /* using media query for to look good for small screens */
  @media (max-width: 500px) {
    .header{
      margin: 0;
    }
    .nav-links {
      position: fixed;
      height: 100vh;
      top: 50px;
      right: -150px;
      background-color: var(--primary-bg-color);
      display: flex;
      flex-direction: column;
      transition: 1s;
    }
  
    .nav-links > span {
      margin-right: 0;
    }
    .nav-links > span > a {
      display: block;
      padding: 10px 60px 10px 20px;
    }
    .menu-btn {
      display: flex;
    }
  
    /*animation for menu on click*/
    
    .bar1{
      transform: rotate(45deg) translateX(45%);
      transition: 1s; 
    }
    .bar2{
      transform: translateX(90%);
      background-color: rgb(246, 11, 246);
      visibility: hidden;
    }
    .bar3{
      transform: rotate(-45deg) translateX(45%);
      transition: 1s;
    }
    .onclick-menu{
      transform: translate(-20%);
      transition: 1s;
      width: 2.3rem;
      padding-right: 17px;
    
    }
    .active {
      transform: translateX(-100%);
    }
    .nav-container {
      position: fixed;
      width: 100vw;
      margin: 0;
      top: 0;
      padding: 5px 0 0 0;
      background-color: #2b2929;
      border-bottom:1px solid #3e3b3b;
      z-index: 1;
    }
  }

/*style for form-item*/
.contact-flex-container{
    display: flex;
    min-height: 80vh;
    flex-wrap: wrap;
}
.flex-item1{
    width: 50%;
    padding:0 2rem;
    
}
.form-header{
    color:var(--aqua-color) ;
    font-weight: 600;
    font-size: 2.5rem;
}

.form-para{
    margin: .8rem 0 1.5rem 0;
}
.form-row1{
    display: flex;
    justify-content: space-between;
}
.form-inputs{
    padding: .4rem 0;
}
.form-inputs > input,textarea{
    width: 100%;
    padding: .5rem;
    background-color: #2d2d2d;
    border: none;
    outline: none;
    letter-spacing: 1px;
    line-height: 1.4rem;
    color: rgba(255, 255, 255, 0.82);
}
.form-inputs > input::placeholder,textarea::placeholder{
    font-family: "poppins", Helvetica, sans-serif;
}
.flex-item2{
    width: 50%;
    margin-top:1rem;
}
iframe{
    width: 100%;
}
.form-row4{
    text-align: end;
}
#send-btn{
    background-color: var(--primary-bg-color);
    color: var(--aqua-color);
    width: 30%;
    font-size: 1rem;
    padding: .3rem .5rem;
    border: 1px solid var(--aqua-color);
    position: relative;
    cursor: pointer;
}

#send-btn::before{
  content: '';
  width: 0px;
  height: 100%;
  background-color: var(--aqua-color);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .5s;
}
#send-btn:hover::before{
  width: 100%;
  z-index: -1;
  
}
#send-btn:hover{
  color:black;
  z-index: 1;
}

input:focus,textarea:focus{
    border-bottom: 1px solid var(--aqua-color);
}


/*media query for contact page */
@media (max-width:600px){
    .flex-item2{
        width: 100%;
        padding:1rem;
    }
    .flex-item1{
        width: 100%;
        padding: 1rem;
    }
    .contact-flex-container{
        flex-direction: column;
        margin-top: 2.3rem;
    }
    iframe{
        height: 15rem;
    }
}

/* style for footer */

.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color:#332f2f5a;
    flex-wrap: wrap;
  }
  .footer-line{
    border: 1px solid var(--link-before-hover);
    background-color: var(--link-before-hover);
  }
  .footer-item1 > a{
    text-decoration: none;
    color: var(--link-before-hover);
    margin: 1rem;
  }
  .footer-item1 > a:hover{
    color: #fff;
  }
  .icon {
    visibility: hidden;
  }
  .copyright > i {
    margin-right: 5px;
  }
  
  /*responsive style for footer*/
  
  @media (max-width:500px){
    .footer-container{
      justify-content: space-around;
      align-items: center;
    }
    .footer-item1{
      margin-bottom: 1.3rem;
    }
    .icon{
      visibility: visible;
    }
    .footer-link-text{
      display: none;
    }
  }

  #act{
    color: var(--heading-text-font-color);
    text-decoration: underline;
    text-decoration-color: #007ced;
    text-underline-offset: .4rem;
  font-weight: 600;}

  